<div class="container">
  <h2><%= @question %></h2>
  <h3><em>- You</em></h3>
</div>

<div class="container coach">
  <h2><%= @answer %></h2>
  <h3><em>- Your coach</em></h3>
</div>

<div class="link">
  <%= link_to "Ask your coach another question", ask_path %>
</div>
